@page "/Attributions"
<PageTitle>Attributions</PageTitle>

<h3 class="text-decoration-underline text-uppercase text-center mt-4">Attributions</h3>

<p>
    As most open source projects this one relies on the great work of many other passionate creators who are willing
    to share their work for free.
    You can check their work down below in no particular order.
    But special thanks goes to Chummer5a and it's main contributors, for providing the necessary data.
</p>
<div>
    <ul>
        <li>
                <a href="https://github.com/chummer5a/chummer5a" title="Chummer5a">Chummer5a Github</a>
        </li>
        <li>
                <a href="https://www.flaticon.com/free-icons/rifle" title="rifle icons">Free Icons provided by Triangle Square</a>
        </li>
    </ul>
</div>
@code {
    
}