@page "/WeaponTable"
@using Chummer_Database.Classes

<h3>WeaponTable</h3>

<DataGrid TItem="Weapon">
    <DataGridColumns>
        <DataGridColumn TItem="Weapon" Field="Name" Caption="Name"></DataGridColumn>
    </DataGridColumns>
</DataGrid>

@code {
    
}