@using System.Diagnostics
<Bar Mode="BarMode.VerticalInline"
     CollapseMode="BarCollapseMode.Small"
     Breakpoint="Breakpoint.Desktop"
     NavigationBreakpoint="Breakpoint.Tablet"
     ThemeContrast="ThemeContrast.Dark"
>
    <BarToggler></BarToggler>
    <BarBrand>

        <BarItem>
            <BarLink To="/">
                <BarIcon IconName="chummerIcon"/>
                <span>Chummer DB Viewer</span>
            </BarLink>
        </BarItem>
    </BarBrand>
    <BarMenu>
        <BarStart>
            <BarItem>
                <BarLink To="/WeaponTable">
                    <BarIcon IconName="@("icon-rifle")"></BarIcon>
                    Weapons
                </BarLink>
            </BarItem>
            <BarItem>
                <BarDropdown>
                    <BarDropdownToggle>
                        <BarIcon IconName="IconName.Edit"/>
                        Dropdown
                    </BarDropdownToggle>
                    <BarDropdownMenu>
                        <BarDropdownItem>Action</BarDropdownItem>
                        <BarDropdownItem>Another action</BarDropdownItem>
                    </BarDropdownMenu>
                </BarDropdown>
            </BarItem>
        </BarStart>
        <BarEnd>
            <BarItem>
                <BarLink To="Attributions">
                    <BarIcon IconName="IconName.InfoCircle"></BarIcon>
                    Attributions
                </BarLink>
            </BarItem>
        </BarEnd>
    </BarMenu>
</Bar>

@code
{
    RenderFragment chummerIcon = @<img src="ressources/ChummerDBViewerIcon.png" style="width: 45px; height: 45px; margin-bottom: 0.2rem"/>;
}
