.add-nuyen:after {
    content: '¥';
}

.forbidden:after{
    content: 'F';
}

.restricted:after{
    content: 'R';
}

.rating-times:before{
    content: 'Rating * '
}

.rating-plus:before{
    content: 'Rating + '
}

.prefix-plus:before{
    content: '+'
}

.dmg-mag-times:before{
    content: 'MAG * ';
}

.str-plus:before{
    content: 'STR + ';
}

.str:before{
    content: 'STR ';
}

.special:before{
    content: 'Special';
}

.grenade:before{
    content: 'Grenade';
}

.missile:before{
    content: 'Missile';
}

.chemical:before{
    content: 'Chemical';
}

.dmg-physical:after{
    content: 'P';
}

.dmg-stun:after{
    content: 'S';
}

.dmg-electro::after{
    content: ' (e)';
}

.dmg-electro.dmg-stun:after{
    content: 'S (e)';
}