@using System.Diagnostics.CodeAnalysis


<Div>
    @*Min Value*@
    <NumericPicker
        TValue="int" 
        CurrencySymbol="@CurrencySymbol" 
        Step="@Step"
        Min="0"
        Decimals="0"
        SelectAllOnFocus
        ValueChanged="OnMinChanged"
    />
    @*Max Value*@
    <NumericPicker
        TValue="int" 
        CurrencySymbol="@CurrencySymbol" 
        Step="@Step"
        Min="0"
        Decimals="0"
        SelectAllOnFocus
        ValueChanged="OnMaxChanged"
    />
</Div>


@code {
    [Parameter]
    public int Step { get; set; } = 1;

    [Parameter]
    public string? CurrencySymbol { get; set; }
    
    [Parameter]  
    public EventCallback<NumericRange> ValueChanged { get; set; }

    [Parameter]
    public NumericRange Value { get; set; } = new();

    private int _test;

    private async Task OnMinChanged(int value)
    {
        var temp = Value;
        temp.Minimum = value;
        Value = temp;

        await ValueChanged.InvokeAsync(Value);
    }
    
    private async Task OnMaxChanged(int value)
    {
        Console.WriteLine(value);
        var temp = Value;
        temp.Maximum = value;
        Value = temp;
        
        await ValueChanged.InvokeAsync(Value);
    }
    
}